body {
  background: #333 url('bg5.jpg') no-repeat right top fixed;
  background-size: cover;
  font-family: 'proxima-nova', 'Helvetica Neue', 'Helvetica-Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

main {
  background-color: #fff;
  max-width: 40em;
}
