---
---

body {
  background: #333 url('{{ site.images_folder }}bg5.jpg') no-repeat right top fixed;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

header {
  a { color: #fff; }
}

main {
  background-color: #fff;
  max-width: 40em;

  a { color: #0074d9; }
}

h1, h2, h3, h4, h5, h6 { line-height: 1.1; }

.content {
  line-height: 1.4;
  font-size: 105%;
}

.border-gray { color: #AAAAAA; }
.gray { color: #AAAAAA; }
