---
---

body {
  background: #333 url('bg5.jpg') no-repeat right top fixed;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

header {
  a { color: #fff; }
}

main {
  background-color: #fff;
  max-width: 40em;

  a { color: #0074d9; }
}
