/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background: #333 url('bg.jpg') no-repeat center center fixed;
  background-size: cover;
  font: 14px 'Helvetica Neue', 'Helvetica-Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #fff; }
a:hover   { color: #fff; }
a:visited { color: #fff; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

body {
  color: #fff;
}

h1.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 300;
}

h1.logo a { text-decoration: none; }

h1.logo .twitter-name {
  margin-top: 10px;
}

h2.resume {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  font-weight: 300;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.container-padding {
  max-width: 600px;
  margin: 140px auto 0;
}

.container-padding .container {
  background: rgba(255,255,255,0.95);
  padding: 20px;
  margin: 20px;
  color: #222;
}

.container-padding .container a         { color: #222; }
.container-padding .container a:hover   { color: #222; }
.container-padding .container a:visited { color: #222; }

/*****************************************************************************/
/*
/* Media queries
/*
/*****************************************************************************/

@media(min-width: 768px) {
  h1.logo { position: fixed; }
  h2.resume { position: fixed; }
}