<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{page.description}}">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="http://e10jc.com{{ page.url }}">
    <meta property="og:image" content="http://e10jc.com/css/bg.jpg">
    <link rel="stylesheet" href="/css/basscss.css">
    <link rel="stylesheet" href="/css/basscss-reponsive-typography.css">
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="//use.typekit.net/ith5kam.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-91518807-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body class="m0 p2">
    <header class="mb2">
      <nav>
        <div class="flex justify-between items-center">
          <a class="h2 white text-decoration-none" href="/">ethan jon czahor</a>
          <a class="white text-decoration-none" href="/about.html">about</a>
        </div>
      </nav>
    </header>
    <main class="mx-auto">
      {{ content }}
    </main>
  </body>
</html>
