---
layout: default
---

<article class="p2 overflow-scroll">
  <h1 class="mt0 mb1">
    <a href="{{ page.link }}" class="text-decoration-none">{{ page.title }}</a>
  </h1>
  <div class="h5 my1">{{ page.date | date: "%b %-d, %Y" }}</div>
  <hr class="my2 border-gray" />
  {% if page.image %}<img src="/images/{{ page.image }}" class="fit block" />{% endif %}
  <div class="content">{{ content }}</div>
  <hr class="my2 border-gray" />
  {% if page.hacker_news_url %}
    <p>If you enjoyed this article, please <a href="{{ page.hacker_news_url }}">upvote it</a> on Hacker News.</p>
  {% endif %}
</article>
